<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="utf-8" />
       <title>YelpCamp</title>
       <meta name="viewport" content="width=device-width, initial-scale=1">


       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              rel="stylesheet" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
              crossorigin="anonymous">              

      <!--Font Awesome icon awesomeness-->
      <script src="https://use.fontawesome.com/209879e363.js"></script>

       <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                     integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                     crossorigin="anonymous"></script>    

      <!--Font Awesome awesomeness-->
      <script src="https://use.fontawesome.com/209879e363.js"></script>
      
      <!--Google Fonts-->
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet"> 

       <!--my own CSS stuff!-->
       <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styles.css"/>
       
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if (!currentUser) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
        <% } else { %>
        <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> <%=currentUser.username%></a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <% if (flashError && flashError.length > 0) { %>
    <div role="alert" class="alert alert-danger">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <%=flashError%>
    </div>
  <% } else if (flashInfo && flashInfo.length > 0) { %>
    <div role="alert" class="alert alert-info">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <%=flashInfo%>
    </div>
  <% } else if (flashSuccess && flashSuccess.length > 0) { %>
    <div role="alert" class="alert alert-success"><%=flashSuccess%></div>
  <% } %>
</div>
