<% include partials/header %>


<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>
        <i class="fa fa-tree" aria-hidden="true"></i>
        YelpCamp
      </h1>
      <p>Check out these cool campgrounds from around the US!</p>
      <p>
        <a class="btn btn-primary btn-large" 
                href="/campgrounds/new">Add Another One!</a>
      </p>
    </div>
  </header>

  <!--Use Bootstrap to put all of the campground images in a nice grid
  system. For each image put the name of the campground underneath
  the image (this is the caption element). 
  Make the images responsive to web page size (shrinking width) by
  using Bootstrap rows and medium+small column sizes.-->
  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground) { %>
      <div class="col-md-3 col-sm-6">
        <div class="campgrounds-array-thumbnail thumbnail">
          <img class="campgrounds-array-img" src=<%=campground.image%>>
          <div class="caption">
            <h4><%= campground.name %></h4>
          </div>
          <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
        </div>
      </div>
    <% }); %>
  </div>

</div>

  <% include partials/footer %>