<% include partials/header %>

<div class="container">
<div class="jumbotron">
    <h1>Welcome to YelpCamp!!!</h1>
    <form action="/campgrounds">
        <button type="submit">Checkout our campsites!!</button>
    </form>
</div>
</div>
<% include partials/footer %>